/* style.css */
.contact-box h2{
  font-size:65px;
  margin-bottom:25px;
}

.contact-box span{
  display:block;
  color:#a1a1aa;
  font-size:20px;
  margin-bottom:45px;
}

.big-btn{
  font-size:20px;
  padding:22px 45px;
}

footer{
  border-top:1px solid rgba(255,255,255,0.05);

  text-align:center;

  padding:40px;

  color:#71717a;
}

@media(max-width:1000px){

  .hero{
    grid-template-columns:1fr;
  }

  .hero h2{
    font-size:65px;
  }

  .section-header h2,
  .contact-box h2{
    font-size:50px;
  }

}

@media(max-width:768px){

  nav{
    flex-direction:column;
    gap:20px;
  }

  nav ul{
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
  }

  .hero h2{
    font-size:50px;
  }

  .section-header h2,
  .contact-box h2{
    font-size:40px;
  }

  .hero-buttons{
    flex-direction:column;
  }

  .services,
  .projects,
  .about,
  .contact{
    padding:100px 25px;
  }

}
