*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Inter', sans-serif;
  background:#020617;
  color:white;
  overflow-x:hidden;
}

/* Background Effects */

.bg-effects{
  position:fixed;
  inset:0;
  z-index:-1;
  overflow:hidden;
}

.blur{
  position:absolute;
  border-radius:50%;
  filter:blur(120px);
}

.blur1{
  width:350px;
  height:350px;
  background:#2563eb;
  top:-100px;
  left:-100px;
  opacity:0.4;
}

.blur2{
  width:350px;
  height:350px;
  background:#7c3aed;
  bottom:-100px;
  right:-100px;
  opacity:0.4;
}

/* Navbar */

nav{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:25px 8%;

  position:fixed;
  top:0;

  backdrop-filter:blur(10px);

  background:rgba(2,6,23,0.6);

  border-bottom:1px solid rgba(255,255,255,0.05);

  z-index:1000;
}

.logo{
  font-size:28px;
  font-weight:800;
}

.logo span{
  color:#3b82f6;
}

nav ul{
  display:flex;
  list-style:none;
  gap:35px;
}

nav a{
  text-decoration:none;
  color:#cbd5e1;
  font-weight:500;
  transition:0.3s;
}

nav a:hover{
  color:white;
}

/* Hero */

.hero{
  height:100vh;

  display:flex;
  align-items:center;
  justify-content:center;

  padding:120px 8%;

  position:relative;
}

.hero-left{
  max-width:750px;
}

.tag{
  display:inline-block;

  background:rgba(59,130,246,0.15);

  color:#93c5fd;

  padding:10px 18px;

  border-radius:999px;

  font-size:14px;

  margin-bottom:30px;

  border:1px solid rgba(59,130,246,0.3);
}

.hero h2{
  font-size:90px;
  line-height:1;
  margin-bottom:30px;
}

.hero h2 span{
  color:#3b82f6;
}

.hero-text{
  font-size:22px;
  color:#94a3b8;
  line-height:1.7;
  margin-bottom:40px;
}

.hero-buttons{
  display:flex;
  gap:20px;
}

button{
  border:none;
  cursor:pointer;

  padding:18px 34px;

  border-radius:14px;

  font-size:16px;
  font-weight:600;

  transition:0.3s;
}

.primary-btn{
  background:#2563eb;
  color:white;
}

.primary-btn:hover{
  transform:translateY(-4px);
  background:#3b82f6;
}

.secondary-btn{
  background:transparent;

  color:white;

  border:1px solid rgba(255,255,255,0.1);
}

.secondary-btn:hover{
  background:rgba(255,255,255,0.05);
}

/* Responsive */

@media(max-width:900px){

  .hero h2{
    font-size:60px;
  }

}

@media(max-width:768px){

  nav{
    flex-direction:column;
    gap:20px;
  }

  nav ul{
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
  }

  .hero{
    text-align:center;
  }

  .hero-buttons{
    justify-content:center;
    flex-direction:column;
  }

  .hero h2{
    font-size:50px;
  }

  .hero-text{
    font-size:18px;
  }

}
/* Services */

.services{
  padding:120px 8%;
  display:none;
}

.section-header{
  text-align:center;
  margin-bottom:70px;
}

.section-tag{
  color:#3b82f6;
  font-weight:700;
  letter-spacing:2px;
  margin-bottom:15px;
}

.section-header h2{
  font-size:60px;
}

.services-grid{
  display:grid;

  grid-template-columns:
  repeat(auto-fit, minmax(280px, 1fr));

  gap:30px;
}

.service-card{
  background:rgba(15,23,42,0.7);

  border:1px solid rgba(255,255,255,0.05);

  padding:40px;

  border-radius:28px;

  transition:0.4s;

  backdrop-filter:blur(10px);
}

.service-card:hover{
  transform:translateY(-12px);

  border-color:rgba(59,130,246,0.5);
}

.service-icon{
  font-size:45px;
  margin-bottom:25px;
}

.service-card h3{
  font-size:28px;
  margin-bottom:20px;
}

.service-card p{
  color:#94a3b8;
  line-height:1.8;
}
/* Projects */

.projects{
  padding:120px 8%;
  display:none;
}

.projects-grid{
  display:grid;

  grid-template-columns:
  repeat(auto-fit, minmax(320px, 1fr));

  gap:35px;
}

.project-card{
  background:rgba(15,23,42,0.7);

  border:1px solid rgba(255,255,255,0.05);

  border-radius:28px;

  overflow:hidden;

  transition:0.4s;

  backdrop-filter:blur(10px);
}

.project-card:hover{
  transform:translateY(-12px);

  border-color:rgba(59,130,246,0.5);
}

.project-image{
  height:220px;
  overflow:hidden;
}

.project-image img{
  width:100%;
  height:100%;
 object-fit:contain;
background:#0f172a;
  transition:0.4s;
}

.project-card:hover img{
  transform:scale(1.05);
}

.project-content{
  padding:35px;
}

.project-content h3{
  font-size:28px;
  margin-bottom:18px;
}

.project-content p{
  color:#94a3b8;
  line-height:1.8;
  margin-bottom:25px;
}

.project-content span{
  color:#3b82f6;
  font-weight:600;
}
/* About */

.about{
  padding:120px 8%;
}

.about-container{
  display:flex;
  justify-content:center;
}

.about-card{
  max-width:850px;

  background:rgba(15,23,42,0.7);

  border:1px solid rgba(255,255,255,0.05);

  padding:50px;

  border-radius:30px;

  backdrop-filter:blur(10px);
}

.about-card h3{
  font-size:38px;
  margin-bottom:25px;
}

.about-card p{
  color:#94a3b8;

  line-height:1.9;

  margin-bottom:25px;

  font-size:18px;
}

.tech-stack{
  display:flex;

  flex-wrap:wrap;

  gap:15px;

  margin-top:35px;
}

.tech-stack span{
  background:rgba(59,130,246,0.15);

  color:#93c5fd;

  padding:12px 20px;

  border-radius:999px;

  border:1px solid rgba(59,130,246,0.2);

  font-size:14px;

  font-weight:600;
}
